<div class="card">
  <% if prototype.image.attached? %>
    <%= link_to image_tag(prototype.image, class: :card__img), prototype_path(prototype) %>
  <% else %>
    <%= link_to image_tag("sample.png", class: :card__img), prototype_path(prototype) %>
  <% end %>

  <div class="card__body">
    <h3 class="card__title">
      <%= link_to prototype.title, prototype_path(prototype) %>
    </h3>
    <p class="card__summary"><%= prototype.catch_copy %></p>
    <%# ユーザー詳細ページなので user の表示は省略しても良い %>
  </div>
</div>